{% extends 'base.html' %} 

{% block title %} Adicionar Método de Pagamento - {{ block.super }} {% endblock %}

{% block body %}

<div class="page-container">
  <div class="form-container">
    <div class="form-card">
      <h2>Cadastro de Método de Pagamento</h2>

      <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label>Nome:</label>
          {{ form.name }}
        </div>

        <div class="form-group">
          <label>Tipo:</label>
          {{ form.payment_method }}
        </div>

        <div class="form-group">
          <label>Descrição:</label>
          {{ form.description }}
        </div>

        <div class="form-group">
          <label>Ativo:</label>
          {{ form.is_active }}
        </div>

        {{ form.errors }}

        <button type="submit" class="btn">Salvar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
