{% extends 'base.html' %}

{% block title %}

    Lista de Itens - {{ block.super }}

{% endblock title %}

{% block body %}

<div class="page-container" style="text-align: center;">
    <h2>Lista de Itens</h2>

<a class="btn" href="{% url 'item:add_item' %}">Cadastrar Item</a>
</br>
</br>

    {% if items %}
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Data de fabricacao</th>
            <th>Preço</th>
            <th>Foto</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                {% for item in items %}
                        <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.fabrication_date }}</td>
                                <td>{{ item.price }}</td>
                                <td>
                                    {% if item.photo %}
                                        <img src="{{ item.photo.url }}" width="50" height="50">
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                                <td>{{ item.category }}</td>
                                <td>
                                        <a class="btn btn-edit" href="{% url 'item:edit_item' item.id %}">Editar</a>
                                </td>
                                <td>
                                        <a class="btn btn-delete" href="{% url 'item:delete_item' item.id %}" onclick="return confirmarExclusao();">Excluir</a>
                                </td>
                        </tr>
                {% endfor %}
        </table>
        {% else %}
        <div class="empty-message">
            <p>Nenhum item disponível.</p>
        </div>
        {% endif %}
    </tbody>
  </table>
</div>

{% endblock body %}
